html,
body {
    height: 100%;
}

body {
    @extend %rubik-500;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-narrow {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}
